<h1>New User<h1>



<form action="/users#create" method="post" accept-charset="UTF-8">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	Username: <input type="text" name="user[username]">
	Email: <input type="text" name="user[email]">
	Password: <input type="password" name="user[password]">
	<input type="submit" value="Submit">
	
</form>